{% extends "base.html" %}

{% block title %}Моя коллекция{% endblock %}
{% block content %}


<div class="album py-5 bg-light">
  <div class="container">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
      {% for film in films %}
      <div class="col">
        <div class="card shadow-sm">
            <img src="{{ film.poster }}"
                class="card-img-top"
                alt="Постер: {{ film.title }}"
                style="height: 55%; object-fit: cover;">
          <div class="card-body">
            <p class="card-text">
              {{ film.description | truncate(250, True, '…')}}
            </p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary">Подробнее</button>
                <button type="button" class="btn btn-sm btn-outline-secondary">Изменить</button>
              </div>
              <small class="text-muted">{{ film.duration}} минут</small>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}
{% block footer %}
    <footer class="text-muted py-5">
        <div class="container">
            <p class="float-end mb-1">
                <a href="/">На главную</a>
            </p>
        </div>
   </footer>
{% endblock %}